<div class="ghostify">
  <div class="row marginalize">
    <div class="col l4 xl4"></div>
    <div class="col l4 xl4 s12 m12">
      <div class="card grey lighten-5">
        <div class="card-content orange-text text-lighten-2">
          <span class="card-title">
            <h6>Login</h6>
          </span>
          <div class="row">
            <form class="col s12 l12 xl12 m12" id="login_form">
              <div class="row">
                <div class="input-field col s12 l12 xl12 m12">
                  <i class="material-icons small prefix">account_box</i>
                  <input required id="matric" type="text" class="validate" name="matric">
                  <label for="matric">Matric No.</label>
                </div>
                <div class="input-field col s12 l12 xl12 m12">
                  <i class="material-icons small prefix">lock</i>
                  <input required id="password" type="password" class="validate" name="password">
                  <label for="matric">Password</label>
                </div>
              </div>
              <div class="row">
                <button class="col waves-effect waves-light btn-large l12 xl12 s12 m12">
                  Login <i class="small material-icons">send</i>
                </button>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col s4 m4 l4 xl4"></div>
            <div class="col s4 m4 l4 xl4">
              <div id="loader" class="preloader-wrapper small">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col l4 xl4"></div>
  </div>
</div>